* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
  font-size: 13px;
  line-height: 1.6;
  color: #333;
}
body,
html {
  height: 100%;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a[href],
input[type='submit'],
input[type='image'],
label[for],
select,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  background: none;
  outline-color: transparent;
  border: none;
}
hr {
  margin: 15px 0;
  border: 0;
  border-bottom: 1px solid #ddd;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.vertical-scroll {
  overflow-y: scroll;
}
.shadow {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
}
.dropdown-shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
}
.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.flex,
.btn-bar,
.message,
.grid,
.feed .update {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.btn {
  display: inline-block;
  cursor: pointer;
  color: #5c5c5c;
  border-radius: 2px;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  font-size: 12px;
  font-weight: 500;
  height: 25px;
  line-height: 2;
  padding: 0 8px;
  letter-spacing: .2px;
}
.btn.small {
  height: 20px;
  line-height: 20px;
}
.btn * {
  cursor: pointer;
  display: inline-block;
}
.btn:focus {
  outline: none;
}
.btn.thick {
  font-size: 14px;
  font-weight: normal;
  height: 35px;
  line-height: 35px;
  padding: 0 12px;
}
.btn.pressed,
.btn:hover {
  text-decoration: none;
  background: #f0f0f0;
}
.btn.disabled,
.btn:disabled {
  cursor: default;
  background: #fafafa !important;
  color: #999999 !important;
  border: 1px solid #ddd !important;
  box-shadow: none !important;
}
.btn.disabled .spinner,
.btn:disabled .spinner {
  color: #aaa !important;
}
.btn .spinner {
  display: inline-block;
  position: relative;
  top: 1px;
  color: inherit;
}
.btn.success,
.btn.primary {
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
}
.btn.success {
  background: #46c85c;
  color: #fefffe;
  border-color: #46c85c;
}
.btn.success.pressed,
.btn.success:hover {
  background: #40b855;
  border-color: #40b855;
}
.btn.transparent {
  border: 1px solid #cccccc;
  background: none;
  font-weight: 400;
}
.btn.transparent:hover {
  border-color: #999999;
}
.btn.primary {
  background: #3069da;
  color: #fff;
  border: 1px solid #3069da;
  transition: background .1s ease;
}
.btn.primary:hover {
  background: #2e64cf;
}
.btn-group {
  display: inline-block;
}
.btn-group .btn {
  margin: 0 !important;
  border-radius: 0;
  border-right-width: 0;
}
.btn-group > :first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.btn-group > :last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right-width: 1px;
}
.dropdown-btn-container {
  display: inline-block;
  position: relative;
}
.dropdown-btn-container.open .dropdown-btn-list {
  display: block;
}
.dropdown-btn-container.open .toggleable.btn {
  background: #dadada;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.07);
}
.dropdown-btn-list {
  display: none;
  position: absolute;
  z-index: 1;
  top: 24px;
  right: 0px;
  background: #fff;
  border: 1px solid #d9d9d9;
  width: 149px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 2px 0;
}
.dropdown-btn-list * {
  cursor: pointer;
}
.dropdown-btn-list hr {
  margin: 2px 0;
}
.dropdown-btn-list .dropdown-item,
.dropdown-btn-list > div,
.dropdown-btn-list > a {
  width: 100%;
  display: block;
  padding: 7px 7px;
  color: #333;
}
.dropdown-btn-list .dropdown-item i,
.dropdown-btn-list > div i,
.dropdown-btn-list > a i {
  width: 15px;
  display: inline-block;
  text-align: center;
}
.dropdown-btn-list .dropdown-item.disabled,
.dropdown-btn-list > div.disabled,
.dropdown-btn-list > a.disabled {
  color: #b8b8b8;
}
.dropdown-btn-list .dropdown-item:hover,
.dropdown-btn-list > div:hover,
.dropdown-btn-list > a:hover {
  text-decoration: none;
}
.dropdown-btn-list .dropdown-item:hover:not(.disabled),
.dropdown-btn-list > div:hover:not(.disabled),
.dropdown-btn-list > a:hover:not(.disabled) {
  background: #3069da;
  color: #fff;
}
.dropdown-btn-list > div,
.dropdown-btn-list .dropdown-item {
  padding: 8px 15px;
  border-bottom: 1px solid #d9d9d9;
}
.dropdown-btn-list > div:last-child,
.dropdown-btn-list .dropdown-item:last-child {
  border: 0;
}
.dropdown-btn-list > div .title,
.dropdown-btn-list .dropdown-item .title {
  font-weight: 600;
  margin-bottom: 5px;
}
.dropdown-btn-list > div .title i,
.dropdown-btn-list .dropdown-item .title i {
  margin-right: 2px;
}
.dropdown-btn-list > div:hover .desc,
.dropdown-btn-list .dropdown-item:hover .desc {
  color: #fff;
}
.btn-bar .btn {
  border-radius: 0;
}
.btn-bar .btn:not(:first-child) {
  border-left: 0;
}
a.btn span {
  vertical-align: baseline;
}
.message {
  justify-content: flex-start;
  align-items: center;
  font-size: 13.5px;
  border: 1px solid;
  padding: 10px;
  margin: 1rem 0;
}
.message > i {
  font-size: 1.3rem;
  padding-right: 5px;
}
.message .btn {
  background: #fff;
  margin-left: auto;
}
.message ul {
  list-style: disc;
  margin-left: 20px;
}
.message.success {
  background: rgba(76, 217, 100, 0.01);
  color: rgba(71, 181, 89, 0.96);
  border-color: rgba(67, 160, 83, 0.575);
}
.message.success i {
  color: rgba(71, 181, 89, 0.96);
}
.message.success .btn {
  border-color: rgba(67, 160, 83, 0.575);
  color: rgba(71, 181, 89, 0.96);
}
.message.success .btn:focus,
.message.success .btn:active {
  border-color: rgba(71, 181, 89, 0.96);
}
.message.success .btn:hover {
  background: rgba(76, 217, 100, 0.01);
}
.message.primary {
  background: rgba(48, 105, 218, 0.02);
  color: rgba(48, 105, 218, 0.9);
  border-color: rgba(48, 105, 218, 0.6);
}
.message.primary i {
  color: rgba(48, 105, 218, 0.9);
}
.message.primary .btn {
  border-color: rgba(48, 105, 218, 0.6);
  color: rgba(48, 105, 218, 0.9);
}
.message.primary .btn:focus,
.message.primary .btn:active {
  border-color: rgba(48, 105, 218, 0.9);
}
.message.primary .btn:hover {
  background: rgba(48, 105, 218, 0.02);
}
.message.info {
  background: rgba(255, 149, 0, 0.01);
  color: rgba(226, 135, 7, 0.82);
  border-color: rgba(220, 132, 9, 0.43);
}
.message.info i {
  color: rgba(226, 135, 7, 0.82);
}
.message.info .btn {
  border-color: rgba(220, 132, 9, 0.43);
  color: rgba(226, 135, 7, 0.82);
}
.message.info .btn:focus,
.message.info .btn:active {
  border-color: rgba(226, 135, 7, 0.82);
}
.message.info .btn:hover {
  background: rgba(255, 149, 0, 0.01);
}
.message.error {
  background: rgba(255, 59, 48, 0.02);
  color: rgba(205, 57, 49, 0.745);
  border-color: rgba(224, 58, 48, 0.4775);
}
.message.error i {
  color: rgba(205, 57, 49, 0.745);
}
.message.error .btn {
  border-color: rgba(224, 58, 48, 0.4775);
  color: rgba(205, 57, 49, 0.745);
}
.message.error .btn:focus,
.message.error .btn:active {
  border-color: rgba(205, 57, 49, 0.745);
}
.message.error .btn:hover {
  background: rgba(255, 59, 48, 0.02);
}
.message i {
  margin-right: 5px;
}
.message a:not(.btn) {
  text-decoration: underline;
}
.link,
.profile a,
.feed .update .name {
  color: #3064c9;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  padding: 0;
}
.link:hover,
.profile a:hover,
.feed .update .name:hover {
  text-decoration: underline;
}
body {
  overflow: auto;
}
main {
  width: 825px;
  margin: 0 auto;
}
main h1 {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 10px;
}
main h2 {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .5px;
  color: #b8b8b8;
}
.profile {
  display: flex;
}
.profile .avatar {
  width: 35px;
  height: 35px;
  border-radius: 2px;
}
.profile .profile-info {
  flex: 1;
  padding-left: 20px;
}
.profile h1 a {
  color: inherit;
}
form#new-post {
  margin-bottom: 20px;
}
form#new-post textarea {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  display: block;
  width: 100%;
  height: 35px;
  padding: 6px 10px;
  margin-bottom: 1rem;
  resize: none;
  overflow: hidden;
  transition: height .2s ease;
  cursor: text;
  font-size: 14px;
  letter-spacing: .3px;
}
form#new-post textarea.has-content,
form#new-post textarea:focus {
  border-color: #3069da;
  height: 75px;
}
form#new-post .new-post-btns {
  display: flex;
}
form#new-post .new-post-btns > div:first-child {
  flex: 1;
}
form#new-post .new-post-btns .btn:not(.primary) {
  font-weight: normal;
}
form#new-post .new-post-btns .btn i {
  margin-left: 5px;
}
.grid {
  flex-wrap: nowrap;
  margin-top: 40px;
}
.feed-container {
  width: 60%;
  padding-right: 40px;
}
.feed .update {
  flex-wrap: nowrap;
  padding: 10px 0;
}
.feed .update .metadata * {
  line-height: 100%;
  vertical-align: top;
}
.feed .update .name {
  cursor: pointer;
}
.feed .update .date {
  color: #707070;
  cursor: pointer;
  margin-left: 3px;
}
.feed .update .date:hover {
  text-decoration: underline;
}
.feed .update .avatar {
  border-radius: 2px;
  width: 35px;
  height: 35px;
}
.feed .update .content {
  margin-top: 0;
}
.feed .update .container {
  margin-left: 10px;
}
.follows .profile {
  margin-top: 10px;
}
form p {
  margin-top: 0;
}
form input,
form textarea {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #ccc;
}
form .btn {
  margin-right: 5px;
}
.sidebar {
  background: #fff;
  width: 40%;
}
.sidebar .buttons {
  margin-bottom: 10px;
}
.sidebar .buttons i {
  cursor: pointer;
  margin-left: 5px;
}
