.avatar {
  width: 45px;
  height: 45px;
  border-radius: 2px;
  background-size: cover;
}

.avatar-editor {
  position: relative;

  input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

