.broadcast {
  &:extend(.card);
  border-bottom: 1px solid @color-border--card;
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
    border-radius: 4px 4px 0 0;
  }

  &:last-child {
    border-radius: 0 0 4px 4px;
    border-bottom: 0;
  }
  .avatar-container {
    margin-right: 10px;
  }

  .broadcast-container {
    flex: 1;

    > * {
      display: block;
    }
  }

  .metadata {

  }

  .name {
    font-weight: 600;

    &:hover {
      &:extend(.link:hover);
    }
  }

  .date {
    font-size: .8rem;
    color: @color-text--transparent;
    cursor: pointer;
    margin-left: 3px;

    &:hover {
      text-decoration: underline;
    }
  }

  .content {
    margin: 3px 0 10px 0;
    color: @color-text--muted;
  }

  .controls {
    &:extend(.flex);
    justify-content: space-between;
    border-top: 1px solid @color-border;
    padding: 5px 0;
    margin: 0 10px;
    font-size: .75rem;
    color: @color-text--transparent;

    i {
      margin-right: 4px;
      color: @color-text--transparent;
    }

    .fa-comment-o:hover {
      color: @color-text--btn;
    }

    button {
      padding: 0;
    }

    .action {
      cursor: pointer;
      display: inline-block;

      &.comment {

        &:hover {
          &:extend(.link:hover);
        }
      }

      &.like {
        color: @color-text--transparent !important;
        position: relative;

        i {
          bottom: -1px;
          font-size: 16px;
        }

        i.fa-star,
        &:hover i {
          color: @orange;
          color: @color-text--warning;
        }
      }
    }
  }
}

.broadcast-content {
  &:extend(.flex);
  flex-wrap: nowrap;
  padding: 15px 10px;
}

.comments {
  background: @color-bg;
  border-top: 1px solid @color-border;
  font-size: .8rem;
  padding: 15px 10px;

  .avatar {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
}

.comments-editor {
  &:extend(.flex);
  flex-wrap: nowrap;
  padding-bottom: 10px;

  .avatar {
    width: 30px;
  }

  .avatar,
  textarea {
    height: 30px;
  }

  textarea {
    flex: 1;
    min-height: initial;
    padding-top: 6px;
  }
}

.comment {
  &:extend(.flex);
  flex-wrap: nowrap;
  font-size: .8rem;

  > * {
    display: inline-block;
  }

  .author {
    &:extend(.link);
  }

  .content {
    line-height: 100%;
    vertical-align: top;
  }

  .footer {
    display: block;
    margin-top: 10px;
    font-size: .75rem;
    color: @color-text--transparent;
  }
}

.broadcast.parent {
  position: relative;
  margin-bottom: 70px;
  overflow: initial;

  &:after {
    display: block;
    content: '';
    position: absolute;
    left: 15px;
    bottom: -60px;
    width: 5px;
    background: @color-border;
    border-radius: 10px;
    height: 50px;
  }
}