@import "../base/colors";
@import "../utils/flex";
@import "../utils/decorators";

.btn {
  position: relative;
  display: inline-block;
  padding: 0 13px;
  background: transparent;
  background-clip: border-box;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  line-height: 1.875rem;
  text-decoration: none;
  color: #0070d2;
  white-space: normal;
  user-select: none;
  transition: color 0.05s linear, background-color 0.05s linear;

  i {
    margin-left: 4px;
  }

  &.primary {
    background: @color-bg--btn-primary;
    background: #0070d2;
    color: #fff;

    &:hover {
      background: @color-bg--btn-primary-hover;
    }

    &:disabled {
      background: @color-bg--btn-primary-disabled;
    }
  }

  &.primary.outline {
    background: #fff;
    border-color: @color-border--primary;
    color: @color-border--primary;

    &:hover {
      border-color: @color-border--primary-hover;
      color: @color-border--primary-hover;
    }
  }

  &.success {
    background: @color-bg--btn-success;
    color: #fff;

    &:hover {
      background: @color-bg--btn-success-hover;
    }
  }

  &.success.outline {
    background: #fff;
    border-color: @color-border--success;
    color: @color-border--success;

    &:hover {
      border-color: @color-border--success-hover;
      color: @color-border--success-hover;
    }
  }

  &.destructive.outline {
    background: #fff;
    border-color: @color-border--destructive;
    color: @color-border--destructive;

    &:hover {
      border-color: @color-border--destructive-hover;
      color: @color-border--destructive-hover;
    }
  }
}