.profile-card {
  // TODO
  // &:extend(.card);
  min-width: 100px;
  max-width: 350px;
  padding: 15px;
  background: #fff;
  border: 1px solid @color-border--card;
  border-radius: 4px;
}

.profile-card-header {
  &:extend(.flex);
  justify-content: space-between;
  align-items: top;
  margin-bottom: 10px;

  .btn {
    align-self: flex-start;
  }
}

.profile-card-info {

  .name {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .description {
    margin: 0;
    color: @color-text--muted;
  }
}
