// the main layout for all pages

.main-container {
  &:extend(.flex);
  padding: 75px 10px 30px 10px;
  margin: auto;
  max-width: 900px;
}

.sidebar {
  position: fixed;
  width: 325px;
  margin-right: 20px;
  visibility: hidden;

  @media (min-width: @desktop) {
    visibility: visible;
  }
}

.main-content {
  flex: 1;
  max-width: 500px;
  margin: auto;

  @media (min-width: @desktop) {
    width: 100%;
    margin-left: 345px;

    &:not(.center) {
      max-width: initial;
    }
  }

  &.center {
    margin: auto !important;
  }
}

.main-content > .broadcast {
  &:extend(.card);
}